/node_modules
/public/hot
/public/storage
/public/profiles
/storage/*.key
/vendor
/data
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
envoy
/storage/*
envoy.blade.php
storage
docker-compose.yml
*.pdf
*.http
.DS_Store
*.rdb
